<%-include('layout/Header') %>
<div class="container">
  <div class="row">
    <div class="col-lg-4 mx-auto mt-4">
      <div class="card shadow">
        <div class="card-header bg-success">
          <h3 class="text-light">Edit Holder's Info(<%= holder.name %> )</h3>
        </div>
        <div class="card-body p-3">
          <form
            action="/update/<%= holder._id %> "
            method="post"
            enctype="multipart/form-data"
          >
            <div class="mb-2">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                class="form-control form-control-lg"
                placeholder="Enter your name"
                value="<%= holder.name %>"
                required
              />
            </div>
            <div class="mb-2">
              <label for="name">Email</label>
              <input
                type="email"
                name="email"
                class="form-control form-control-lg"
                placeholder="Enter your email"
                value="<%= holder.email %>"
                required
              />
            </div>
            <div class="mb-2">
              <label for="name">Phone-No.</label>
              <input
                type="tel"
                name="phone"
                class="form-control form-control-lg"
                placeholder="Enter your phone-no."
                value="<%= holder.phone %>"
                required
              />
            </div>
            <div class="mb-2">
              <label for="name">Amount</label>
              <input
                type="number"
                name="amount"
                class="form-control form-control-lg"
                placeholder="Enter the amount."
                value="<%= holder.amount %>"
                required
              />
            </div>

            <div class="mb-2">
              <label for="image" class="form-label">Select an Image</label>
              <input
                type="file"
                class="form-control form-control-lg"
                name="image"
              />
              <img
                src="/<%= holder.image %> "
                width="100"
                img-thumbnail
                mt-1
                alt=""
              />
            </div>
            <input type="hidden" name="old_image" id="<%= holder.image %> " />
            <div class="mb-2 d-grid">
              <input
                type="submit"
                name="submit"
                value="Update Holder Info"
                class="btn btn-success btn-lg"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
